

<div class="jumbotron">
<div class="container" > 
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-headphones
"></span> Escuchar</a></p>
</div>
</div>

<div class="container" >
<div class="row">
	
	<div class="col-md-3">
	<div class="page-header">
  <h1> Ejemplo asdf<small>subejemplo asdf<span class="label label-default">Default</span></small></h1>
	</div>

		<p>Lorem ipsum</p>
	</div>
	<div class="col-md-3">
	<div class="page-header">
  <h1> Ejemplo asdf <small>subejemplo asdf</small></h1>
	</div>
		<p>Lorem ipsum</p>
	</div>
	<div class="col-md-3">
	<div class="page-header">
  <h1> Ejemplo asdf <small>subejemplo asdf</small></h1>
	</div>
		<p>Lorem ipsum</p>
	</div>

</div>
</div>